DB_CONNECTION_STRING=postgresql://USERNAME:PASSWORD@database_address:database_port/database_name
DB_HOST=database_address
DB_PORT=database_port
DB_USER=USERNAME
DB_PASSWORD=PASSWORD
DB_NAME=database_name